/*nav bar*/
.maincontainer {
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #073970;
    position: sticky;
    top: 0;
    z-index: 1000; 
    justify-content: space-around;
   
}

.container_left {
    color: orange;
    margin-left: 12%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}


/*when i add the ecc logo on the nav bar*/

.logo {
    display: flex;
    width: 100px;
    cursor: pointer;
}

.main_login {
    display: flex;
    margin-left: 7%;
    text-align: center;
    cursor: pointer;
}

/*nav menu*/

.container_right {
    display: flex;
    margin: 0;
    text-align: center;

}

#container_right_item, #container_right_item2, #container_right_item3, #container_right_item4, #container_right_item5 {
    color: orange;
    margin: 28px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    transition: 0.9s ease;
    
}



/*login*/
.login1 {
  color: orange;
  font-family: sans-serif;
  font-size: 130%;
  margin-left: -160%;
  transition: 0.9s ease;
  
}
.decor {
    text-decoration: none;
}

.login1:hover {
    color: white;
    
}

#container_right_item:hover, nav a.active, #container_right_item2:hover, #container_right_item3:hover, #container_right_item4:hover, #container_right_item5:hover {
    color: white;
    
}



/*registration*/
body {
    background-color: white;
    background-position: center;
    background-size: cover;
}

.main-container {

    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.the-form {
    display: flex;
    flex-direction: column;
    width: 25em;
}


.title {

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #073970;
    margin-bottom: 100px;
}

.input-firstname, .input-name, .input-date, .input-email, .input-phoneN {
    border: 1px solid #c0c0c0;
    padding: 8px 13px;
    border-radius: 20px;
}
.date-indication {
    font-size: 12px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
}


